nav {
  background: #bdccda;
  padding: 1em;
  width: 100vw;
  margin: 0;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  top: 0;
}

body {
  margin: 0;
  padding: 0;
}
nav a {
  color: #fff;
  margin-right: 1em;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
}
nav a:hover {
  color: #ffc107;
}
