nav {
  background: #bdccda;
  padding: 1em;
  width: 100vw;
  margin: 0;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  top: 0;
  z-index: 2;
}

body {
  margin: 0;
  padding: 0;
}
nav a {
  color: #2c3e50;
  margin-right: 1em;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25em;
  letter-spacing: 1px;
  transition: color 0.2s, background 0.2s;
  background: #eaf2fb;
  padding: 0.7em 1.6em;
  border-radius: 8px;
  border: 2px solid #06c8d9;
  box-shadow: 0 2px 8px rgba(44,62,80,0.08);
  display: inline-block;
}
nav a:hover {
  color: #fff;
  background: #06c8d9;
  border-color: #06c8d9;
}
