/* Estilos de la pagina de inicio */
body {
  font-family: Arial, sans-serif;
  background: url('../img/fondo.png') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(40, 40, 40, 0.5);
  z-index: -1;
}

main {
  position: relative;
  z-index: 1;
  color: #f1f1f1;
}


/* Estilos de la pagina de agregar reseña */
body {
  font-family: Arial, sans-serif;
  margin: 30px;
}

.contenedor {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #f7f7f7;
}

textarea {
  width: 100%;
  height: 120px;
  resize: none;
  margin-bottom: 15px;
}

select,
button {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
}